[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "==0.6.2"
black = "~=23.9"
schema = "~=0.7"
attrs = "~=23.1"
notebook = "==6.5.5"
rise = "==5.7.1"
traitlets = "<5.10"
plotly = "==5.19.0"
pandas = "~=2.2"

[dev-packages]

[requires]
python_version = "3.11"
